.wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0px auto;
    max-width: 100%;
    width: 100%;
}

.course-content {
    width: 84%;
    float: right;
}

.header {
    flex:1 1 20%;
    float: left;
}

.detailed {
    background-color: #BEBEBE;
    display: flex;
    flex-direction: column;
    float: right;
}

.about {
    display: flex;
    flex-basis: 20%;
    background-color: white;
    margin: 10px 0px;
}
.about-course {
    flex-basis: 50%;
    margin-bottom: 30px;
    margin-top: 30px;
    border-right:  3px solid black;
}

.logo_course {
    float: left;
    width: 110px;
    height: 110px;
    background-color: #FFFFFF;
    margin: 35px;
    border-radius: 50%;
}

.course {
    float: left;
    margin-top: 20px;
    padding-left: 20px;
}
.status {
    margin-bottom: 15px;
    color: green;
}
.Contacts {
    flex-basis: 50%;
    margin-bottom: 40px;
    margin-top: 30px;
    padding-left: 30px;
    max-height: 350px;
}
.description {
    flex-basis: 20%;
    margin: 10px 0px;
    background-color: white;
    display: flex;
}

.description h3 {
    margin: 30px;
}

.description-course {
    margin: 30px 0px 30px 30px;
    padding: 20px 30px 20px 0px;
}
.logo_neobis-block {
    height: 42px;
}
.logo_neobis {
    width: 86px;
    height: 28px;
    float: right;
    margin-right: 20px;
}
.main {
    flex-basis: 60%;
    background-color: white;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    margin: 40px 30px 0px 30px;
    width: 50px;
    height: 50px;
    background-color: green;
}

.list {
    border-left: 3px solid black;
    margin-bottom: 50px;
}
.main .title {
    margin-left: 30px;
    flex-basis: 100%;
}