/*Content css*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}
.main {
    float: right;
    width: 84%;
    margin-top: 30px;
    margin-bottom: 50px;
}

#container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2vw;
    background: #BEBEBE;
    margin: 0px;
    padding: 0 30px 30px 30px;
}

.content {
    height: 409px;
    background: #FFFFFF;
    padding-bottom: 5px;
    width: 100%;
}
.search {
    float: left;
    margin-left: 20px;
    width: 100px;
    height: 20px;
    margin-top: 20px;
}

.request {
    float: right;
    margin-right: 20px;
    width: 100px;
    height: 20px;
    margin-top: 20px;
}
.images {
    width: 100%;
    height: 309px;
}
.description_content {
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 0.9em;
    color: #868686;
    padding-left: 20px;
    width: 90%;
    height: 15%;
}
.description {
    height: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px;
    margin: 0px;
}

.title {
    font-size:1em;
    padding-left: 15px;
    margin: 5px;
}

